In [2]:
import pandas as pd

anime_csv = './anime.csv'

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_master_csv = './anime_master.csv'

pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
anime_split_genre_csv = './anime_split_genre.csv'

pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [6]:
anime_genre_top10 = './anime_genre_top10.csv'

pd.read_csv(anime_genre_top10).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [7]:
anime_genre_top10_pivoted = './anime_genre_top10_pivoted.csv'

pd.read_csv(anime_genre_top10_pivoted).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [8]:
anime_stock_price_csv = './anime_stock_price.csv'

pd.read_csv(anime_stock_price_csv).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [9]:
anime_stock_returns_csv = './anime_stock_returns.csv'

pd.read_csv(anime_stock_returns_csv).head()

         Date  TOEI ANIMATION   IG Port
0  2015-01-01        1.000000  1.000000
1  2015-01-02        1.000000  1.000000
2  2015-01-05        1.011695  1.014082
3  2015-01-06        1.001463  1.000000
4  2015-01-07        0.982457  1.000824

In [11]:
series = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
series

a    1
b    2
c    3
dtype: int64

In [18]:
# Series#locをつかって、ラベルを指定して取り出すサンプル
series.loc['c']

3

In [19]:
# Series#[]を利用して取得することもできる
series['b']

2

In [20]:
# ラベルを範囲指定で取り出すサンプル
series.loc['b':'c']

b    2
c    3
dtype: int64

In [22]:
# リストを指定して取り出すサンプル
choose_targets= ['a', 'c']
series.loc[choose_targets]

a    1
c    3
dtype: int64

In [23]:
# 特定の位置のデータを取得する　sample
# locではなくilocを利用する
series.iloc[1]

2

In [25]:
# pythonのリストをやタプルと同じようにスライスもできる
series.iloc[1:3]

b    2
c    3
dtype: int64

In [26]:
#  条件を満たすものを抽出するsample(外側にseriesがいて、loc[]の条件をにもseriesがいるのでちょっと気持ち悪い...)
series.loc[ series >= 2]

b    2
c    3
dtype: int64

In [31]:
# データフレームをつかってみる(二次元化されたSeriesみたいなやつ)
dataframe = pd.DataFrame(
    [
        [1 ,10, 100], [2, 20, 200], [3, 30, 300]
    ], 
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3']  
)

dataframe

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [37]:
# Seriesと同じ様にラベルを指定ことができる(ただし、行と列の両方を指定する。)
dataframe.loc['r2', 'c2']

20

In [40]:
# 全ての列を指定する様なケース、:を指定する
dataframe.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [41]:
# 全ての行を指定する様なケース、:を指定する
dataframe.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [42]:
#  行ラベルをリストで指定、列ラベルをスライスで指定したsample
dataframe.loc[ ['r1', 'r3'], 'c2':'c3' ]

    c2   c3
r1  10  100
r3  30  300