In [1]:
import pandas as pd

In [2]:
anime_csv = '../sample_data/anime.csv'

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_master_csv = '../sample_data/anime_master.csv'

pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_split_genre_csv = '../sample_data/anime_split_genre.csv'

pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [5]:
anime_genre_top10 = '../sample_data/anime_genre_top10.csv'

pd.read_csv(anime_genre_top10).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [6]:
anime_genre_top10_pivoted = '../sample_data/anime_genre_top10_pivoted.csv'

pd.read_csv(anime_genre_top10_pivoted).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [7]:
anime_stock_price_csv = '../sample_data/anime_stock_price.csv'

pd.read_csv(anime_stock_price_csv).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [8]:
anime_stock_returns_csv = '../sample_data/anime_stock_returns.csv'

pd.read_csv(anime_stock_returns_csv).head()

         Date  TOEI ANIMATION   IG Port
0  2015-01-01        1.000000  1.000000
1  2015-01-02        1.000000  1.000000
2  2015-01-05        1.011695  1.014082
3  2015-01-06        1.001463  1.000000
4  2015-01-07        0.982457  1.000824

## pandasとは
- ラベル付けされたデータを容易にかつ直感的に扱える用に設計されたパッケージ
- 2つの主要なデータ構造を提供する
  * Series(1次元のデータ)
  * DataFrame(2次元のデータ)
- csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- 条件による絞込やDataFrame同士などのjoinといった機能を提供する

### Seriesとは
以下の特徴をもつ
- ラベル(index)を持つ1次元のデータ
- ラベル(index)は重複可能
- ラベル(index) or データを指定した抽出が可能
- ラベル(index)に対してのスライスが可能
- 算術演算可能。
- 統計量を算出するメソッドを持つ

### 以下Seriesの例

In [9]:
# Seriesの実体pandas.Seriesクラス
content = [1,2,3]
label = ['a', 'b', 'c']
series = pd.Series(content, index = label)
series

a    1
b    2
c    3
dtype: int64

In [10]:
# ラベル(index)を指定しない場合は連番がラベル(index)となる
series_no_index = pd.Series([2,4,6,8])
series_no_index

0    2
1    4
2    6
3    8
dtype: int64

In [11]:
# Series#locをつかって、ラベル(index)を指定して取り出すサンプル
series.loc['c']

3

In [12]:
# Series#[]を利用して取得することもできる
series['b']

2

In [13]:
# ラベルを範囲指定で取り出すサンプル
series.loc['b':'c']

b    2
c    3
dtype: int64

In [14]:
# リストを指定して取り出すサンプル
choose_targets= ['a', 'c']
series.loc[choose_targets]

a    1
c    3
dtype: int64

In [15]:
# 特定の位置のデータを取得する　sample
# locではなくilocを利用する
series.iloc[1]

2

In [16]:
# pythonのリストをやタプルと同じようにスライスもできる
series.iloc[1:3]

b    2
c    3
dtype: int64

In [17]:
#  条件を満たすものを抽出するsample(外側にseriesがいて、loc[]の条件をにもseriesがいるのでちょっと気持ち悪い...)
series.loc[ series >= 2]

b    2
c    3
dtype: int64

In [18]:
# まぁ、上記は初見だと気持ち悪いが、series >= 2 がbooleanのSeriesが返ってくるので
# それを使っていると考えると少し気持ち悪さが緩和される
series >= 2

a    False
b     True
c     True
dtype: bool

### DataFrameとは
以下の特徴を持つ

- 行と列にラベル(index)を持った2次元のデータ
- 列ごとに異なる型を持つことができる
- テーブル型のデータに対して読み込み、書き込みができる
- データフレーム同士に

In [19]:
# データフレームをつかってみる(二次元化されたSeriesみたいなやつ)
dataframe = pd.DataFrame(
    [
        [1 ,10, 100],
        [2, 20, 200],
        [3, 30, 300],
    ], 
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3']  
)

dataframe

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [20]:
# Seriesと同じ様にラベルを指定ことができる(ただし、行と列の両方を指定する。)
dataframe.loc['r2', 'c2']

20

In [21]:
# 全ての列を指定する様なケース、:を指定する
dataframe.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [22]:
# 全ての行を指定する様なケース、:を指定する
dataframe.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [23]:
#  行ラベルをリストで指定、列ラベルをスライスで指定したsample
dataframe.loc[ ['r1', 'r3'], 'c2':'c3' ]

    c2   c3
r1  10  100
r3  30  300

In [24]:
# dataframeに対して比較演算を行うと、真偽値になる
dataframe > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [25]:
# dataframeから'c2'のように単一で列を取り出すとSeriesとなるが、Seriesに対する比較演算も同じようにできる
dataframe['c2'] > 10

r1    False
r2     True
r3     True
Name: c2, dtype: bool

In [26]:
# ↑のSeriesを真偽値化したものを利用して、c2列の値が10より大きいデータを取得できる
dataframe.loc[ dataframe['c2'] > 10 ]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [27]:
# 複合条件を作ることもできる
(dataframe['c1'] < 3) & (dataframe['c3'] < 300)

r1     True
r2     True
r3    False
dtype: bool

In [28]:
# ↑複合条件を利用して、c1列が3より小さく、c3列が300より小さいものを取得できる
dataframe.loc[ (dataframe['c1'] < 3) & (dataframe['c3'] < 300) ]

    c1  c2   c3
r1   1  10  100
r2   2  20  200

In [29]:
anime_master_dataframe = pd.read_csv(anime_master_csv).head()
anime_master_dataframe.describe()

           anime_id   episodes    rating       members
count      5.000000   5.000000  5.000000       5.00000
mean   17118.800000  38.200000  9.242000  386679.00000
std    12526.121594  25.390943  0.084676  321010.01951
min     5114.000000   1.000000  9.160000  114262.00000
25%     9253.000000  24.000000  9.170000  151266.00000
50%     9969.000000  51.000000  9.250000  200630.00000
75%    28977.000000  51.000000  9.260000  673572.00000
max    32281.000000  64.000000  9.370000  793665.00000