In [1]:
import pandas as pd
import numpy as np

In [2]:
anime_csv = '../sample_data/anime.csv'

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_master_csv = '../sample_data/anime_master.csv'

pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_split_genre_csv = '../sample_data/anime_split_genre.csv'

pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [5]:
anime_genre_top10 = '../sample_data/anime_genre_top10.csv'

pd.read_csv(anime_genre_top10).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [6]:
anime_genre_top10_pivoted = '../sample_data/anime_genre_top10_pivoted.csv'

pd.read_csv(anime_genre_top10_pivoted).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [7]:
anime_stock_price_csv = '../sample_data/anime_stock_price.csv'

pd.read_csv(anime_stock_price_csv).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [8]:
anime_stock_returns_csv = '../sample_data/anime_stock_returns.csv'

pd.read_csv(anime_stock_returns_csv).head()

         Date  TOEI ANIMATION   IG Port
0  2015-01-01        1.000000  1.000000
1  2015-01-02        1.000000  1.000000
2  2015-01-05        1.011695  1.014082
3  2015-01-06        1.001463  1.000000
4  2015-01-07        0.982457  1.000824

## pandasとは
- ラベル付けされたデータを容易にかつ直感的に扱える用に設計されたパッケージ
- 2つの主要なデータ構造を提供する
  * Series(1次元のデータ)
  * DataFrame(2次元のデータ)
- csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- 条件による絞込やDataFrame同士などのjoinといった機能を提供する

### Seriesとは
以下の特徴をもつ
- ラベル(index)を持つ1次元のデータ
- ラベル(index)は重複可能
- ラベル(index) or データを指定した抽出が可能
- ラベル(index)に対してのスライスが可能
- 算術演算可能。
- 統計量を算出するメソッドを持つ

### 以下Seriesの例

In [9]:
# Seriesの実体pandas.Seriesクラス
content = [1,2,3]
label = ['a', 'b', 'c']
series = pd.Series(content, index = label)
series

a    1
b    2
c    3
dtype: int64

In [10]:
# ラベル(index)を指定しない場合は連番がラベル(index)となる
series_no_index = pd.Series([2,4,6,8])
series_no_index

0    2
1    4
2    6
3    8
dtype: int64

In [11]:
# Series#locをつかって、ラベル(index)を指定して取り出すサンプル
series.loc['c']

3

In [12]:
# Series#[]を利用して取得することもできる
series['b']

2

In [13]:
# ラベルを範囲指定で取り出すサンプル
series.loc['b':'c']

b    2
c    3
dtype: int64

In [14]:
# リストを指定して取り出すサンプル
choose_targets= ['a', 'c']
series.loc[choose_targets]

a    1
c    3
dtype: int64

In [15]:
# 特定の位置のデータを取得する　sample
# locではなくilocを利用する
series.iloc[1]

2

In [16]:
# pythonのリストをやタプルと同じようにスライスもできる
series.iloc[1:3]

b    2
c    3
dtype: int64

In [17]:
#  条件を満たすものを抽出するsample(外側にseriesがいて、loc[]の条件をにもseriesがいるのでちょっと気持ち悪い...)
series.loc[ series >= 2]

b    2
c    3
dtype: int64

In [18]:
# まぁ、上記は初見だと気持ち悪いが、series >= 2 がbooleanのSeriesが返ってくるので
# それを使っていると考えると少し気持ち悪さが緩和される
series >= 2

a    False
b     True
c     True
dtype: bool

### DataFrameとは
以下の特徴を持つ

- 行と列にラベル(index)を持った2次元のデータ
- 列ごとに異なる型を持つことができる
- テーブル型のデータに対して読み込み、書き込みができる
- データフレーム同士に

In [19]:
# データフレームをつかってみる(二次元化されたSeriesみたいなやつ)
dataframe = pd.DataFrame(
    [
        [1 ,10, 100],
        [2, 20, 200],
        [3, 30, 300],
    ], 
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3']  
)

dataframe

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [20]:
# Seriesと同じ様にラベルを指定ことができる(ただし、行と列の両方を指定する。)
dataframe.loc['r2', 'c2']

20

In [21]:
# 全ての列を指定する様なケース、:を指定する
dataframe.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [22]:
# 全ての行を指定する様なケース、:を指定する
dataframe.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [23]:
#  行ラベルをリストで指定、列ラベルをスライスで指定したsample
dataframe.loc[ ['r1', 'r3'], 'c2':'c3' ]

    c2   c3
r1  10  100
r3  30  300

In [24]:
# dataframeに対して比較演算を行うと、真偽値になる
dataframe > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [25]:
# dataframeから'c2'のように単一で列を取り出すとSeriesとなるが、Seriesに対する比較演算も同じようにできる
dataframe['c2'] > 10

r1    False
r2     True
r3     True
Name: c2, dtype: bool

In [26]:
# ↑のSeriesを真偽値化したものを利用して、c2列の値が10より大きいデータを取得できる
dataframe.loc[ dataframe['c2'] > 10 ]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [27]:
# 複合条件を作ることもできる
(dataframe['c1'] < 3) & (dataframe['c3'] < 300)

r1     True
r2     True
r3    False
dtype: bool

In [28]:
# ↑複合条件を利用して、c1列が3より小さく、c3列が300より小さいものを取得できる
dataframe.loc[ (dataframe['c1'] < 3) & (dataframe['c3'] < 300) ]

    c1  c2   c3
r1   1  10  100
r2   2  20  200

In [29]:
# whereメソッドでデータを抽出することもできる(条件にマッチしない行はNaNになる)
dataframe.where(dataframe['c3'] >= 200).head()

     c1    c2     c3
r1  NaN   NaN    NaN
r2  2.0  20.0  200.0
r3  3.0  30.0  300.0

In [30]:
# 欠損値を取り出すのにisnull()が便利
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2:3, 'episodes'] = np.nan # 欠損のあるデータを作成

tmp_anime.loc[tmp_anime['episodes'].isnull()].head()

,anime_id,name,genre,type,episodes,rating,members
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,NaN,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,NaN,9.17,673572

In [31]:
# dropna()を使うと、欠損値があるデータを除外することができる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2:3, 'episodes'] = np.nan # 欠損のあるデータを作成

tmp_anime.dropna().head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10.0,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148.0,9.13,425855

In [32]:
# 値を代入することもできる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2, 'episodes'] = np.nan
tmp_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,NaN,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266

In [33]:
# 値を、一括で代入することもできる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[tmp_anime['episodes'] == 24, 'episodes'] = np.nan
tmp_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,NaN,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266

### さまざまなデータの読み込み
- pandasは、csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- csvなどを読み込むと、DataFrameとして読み込む
- 読み込み時にDataFrameのインデックスをどれにするか指定することができる
- 指定した列を指定した型で読み込むことができる

以下、データの読み込み例

In [34]:
# csvからデータを取得する
anime_master_dataframe = pd.read_csv(anime_master_csv)
anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [35]:
# インデックスにする列を番号で指定することができる
anime_master_dataframe = pd.read_csv(anime_master_csv, index_col=0)
anime_master_dataframe.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [36]:
# インデックスにする列を列名で指定することもできる
anime_master_dataframe = pd.read_csv(anime_master_csv, index_col='anime_id')
anime_master_dataframe.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [37]:
# 指定した列を指定した型で読み込むことができる
anime_master_dataframe = pd.read_csv(anime_master_csv, dtype={'members': float})
anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [38]:
# datetime型への変換は、dtypeではなく、parse_datesで指定する
anime_stock_price_dataframe = pd.read_csv(anime_stock_price_csv, parse_dates=['Date'])
anime_stock_price_dataframe.dtypes

Date              datetime64[ns]
TOEI ANIMATION           float64
IG Port                  float64
dtype: object

In [39]:
# separatorを指定することでtsvを読み込むことが可能
anime_tsv = '../sample_data/anime.tsv'

tmp_anime_master_dataframe = pd.read_csv(anime_tsv, sep="\t")
tmp_anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama\t Romance\t School\t Supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,Action\t Adventure\t Drama\t Fantasy\t Magic\t...,TV,64,9.26,793665
2,28977,Gintama°,Action\t Comedy\t Historical\t Parody\t Samura...,TV,51,9.25,114262
3,9253,Steins;Gate,Sci-Fi\t Thriller,TV,24,9.17,673572
4,9969,Gintama&#039;,Action\t Comedy\t Historical\t Parody\t Samura...,TV,51,9.16,151266

In [40]:
# sort_valuesを利用することでsortがすることが可能
# ascending=Falseで降順
anime_master_dataframe.sort_values('rating', ascending=False).head()

,anime_id,name,genre,type,episodes,rating,members
9659,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13.0
8836,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62.0
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
8354,33607,Kahei no Umi,Historical,Movie,1,9.33,44.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0

In [41]:
# sort_valuesを利用することでsortがすることが可能
# ascending=Trueで昇順(Default)
anime_master_dataframe.sort_values('rating', ascending=True).head()

,anime_id,name,genre,type,episodes,rating,members
9204,34476,Platonic Chain: Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51.0
7399,3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.00,7680.0
7398,13405,Utsu Musume Sayuri,"Comedy, Dementia",OVA,1,2.14,4047.0
7397,413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.37,27557.0
9297,14781,Roboteuwang Sseonsyakeu,"Action, Mecha, Sci-Fi",Movie,1,2.49,121.0

In [42]:
# mapを使うことでSeriesごとに関数を適用することができる
# 下記は、 ratingにnumpyのsquareを適用した場合
anime_master_dataframe['rating'].map(np.square).head()

0    87.7969
1    85.7476
2    85.5625
3    84.0889
4    83.9056
Name: rating, dtype: float64

In [43]:
# mapを使うことでSeriesごとに関数を適用することができる
# name自身のupperを適用するような場合はlambdaが便利
anime_master_dataframe['name'].map(lambda name: name.upper()).head()

0                      KIMI NO NA WA.
1    FULLMETAL ALCHEMIST: BROTHERHOOD
2                            GINTAMA°
3                         STEINS;GATE
4                            GINTAMA'
Name: name, dtype: object

In [44]:
# applyを使うことでDataframeの各列に対して関数を適用することができる
anime_master_dataframe.apply(len)

anime_id    10075
name        10075
genre       10075
type        10075
episodes    10075
rating      10075
members     10075
dtype: int64

In [45]:
# axisに1を指定することでDataframeの行に対して関数を適用することができる
anime_master_dataframe.apply(type, axis=1).head()

0    <class 'pandas.core.series.Series'>
1    <class 'pandas.core.series.Series'>
2    <class 'pandas.core.series.Series'>
3    <class 'pandas.core.series.Series'>
4    <class 'pandas.core.series.Series'>
dtype: object

In [50]:
# axisに1を指定することでDataframeの行に対して関数を適用することができる
# 渡した関数が呼び出される引数は、Seriesになるので、Seriresを使った処理もできる。
anime_master_dataframe.apply(lambda r: r['genre'].upper() + r['name'].lower(), axis=1).head()

0    DRAMA, ROMANCE, SCHOOL, SUPERNATURALkimi no na...
1    ACTION, ADVENTURE, DRAMA, FANTASY, MAGIC, MILI...
2    ACTION, COMEDY, HISTORICAL, PARODY, SAMURAI, S...
3                          SCI-FI, THRILLERsteins;gate
4    ACTION, COMEDY, HISTORICAL, PARODY, SAMURAI, S...
dtype: object

In [49]:
# applymapを使うと、DataFrameの各値に対して関数を適用することができる
anime_master_dataframe[['name','genre']].applymap(len).head()

   name  genre
0    14     36
1    32     59
2     8     60
3    11     16
4     8     60

In [48]:
anime_master_dataframe.apply(lambda r: r['type'].upper(), axis=1).head()

0    MOVIE
1       TV
2       TV
3       TV
4       TV
dtype: object