In [1]:
import pandas as pd
import numpy as np

In [2]:
anime_csv = '../sample_data/anime.csv'

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_master_csv = '../sample_data/anime_master.csv'

pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_split_genre_csv = '../sample_data/anime_split_genre.csv'

pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [5]:
anime_genre_top10 = '../sample_data/anime_genre_top10.csv'

pd.read_csv(anime_genre_top10).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [6]:
anime_genre_top10_pivoted = '../sample_data/anime_genre_top10_pivoted.csv'

pd.read_csv(anime_genre_top10_pivoted).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [7]:
anime_stock_price_csv = '../sample_data/anime_stock_price.csv'

pd.read_csv(anime_stock_price_csv).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [8]:
anime_stock_returns_csv = '../sample_data/anime_stock_returns.csv'

pd.read_csv(anime_stock_returns_csv).head()

         Date  TOEI ANIMATION   IG Port
0  2015-01-01        1.000000  1.000000
1  2015-01-02        1.000000  1.000000
2  2015-01-05        1.011695  1.014082
3  2015-01-06        1.001463  1.000000
4  2015-01-07        0.982457  1.000824

## pandasとは
- ラベル付けされたデータを容易にかつ直感的に扱える用に設計されたパッケージ
- 2つの主要なデータ構造を提供する
  * Series(1次元のデータ)
  * DataFrame(2次元のデータ)
- csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- 条件による絞込やDataFrame同士などのjoinといった機能を提供する

### Seriesとは
以下の特徴をもつ
- ラベル(index)を持つ1次元のデータ
- ラベル(index)は重複可能
- ラベル(index) or データを指定した抽出が可能
- ラベル(index)に対してのスライスが可能
- 算術演算可能。
- 統計量を算出するメソッドを持つ

### 以下Seriesの例

In [9]:
# Seriesの実体pandas.Seriesクラス
content = [1,2,3]
label = ['a', 'b', 'c']
series = pd.Series(content, index = label)
series

a    1
b    2
c    3
dtype: int64

In [10]:
# ラベル(index)を指定しない場合は連番がラベル(index)となる
series_no_index = pd.Series([2,4,6,8])
series_no_index

0    2
1    4
2    6
3    8
dtype: int64

In [11]:
# Series#locをつかって、ラベル(index)を指定して取り出すサンプル
series.loc['c']

3

In [12]:
# Series#[]を利用して取得することもできる
series['b']

2

In [13]:
# ラベルを範囲指定で取り出すサンプル
series.loc['b':'c']

b    2
c    3
dtype: int64

In [14]:
# リストを指定して取り出すサンプル
choose_targets= ['a', 'c']
series.loc[choose_targets]

a    1
c    3
dtype: int64

In [15]:
# 特定の位置のデータを取得する　sample
# locではなくilocを利用する
series.iloc[1]

2

In [16]:
# pythonのリストをやタプルと同じようにスライスもできる
series.iloc[1:3]

b    2
c    3
dtype: int64

In [17]:
#  条件を満たすものを抽出するsample(外側にseriesがいて、loc[]の条件をにもseriesがいるのでちょっと気持ち悪い...)
series.loc[ series >= 2]

b    2
c    3
dtype: int64

In [18]:
# まぁ、上記は初見だと気持ち悪いが、series >= 2 がbooleanのSeriesが返ってくるので
# それを使っていると考えると少し気持ち悪さが緩和される
series >= 2

a    False
b     True
c     True
dtype: bool

### DataFrameとは
以下の特徴を持つ

- 行と列にラベル(index)を持った2次元のデータ
- 列ごとに異なる型を持つことができる
- テーブル型のデータに対して読み込み、書き込みができる
- データフレーム同士に

In [19]:
# データフレームをつかってみる(二次元化されたSeriesみたいなやつ)
dataframe = pd.DataFrame(
    [
        [1 ,10, 100],
        [2, 20, 200],
        [3, 30, 300],
    ], 
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3']  
)

dataframe

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [20]:
# Seriesと同じ様にラベルを指定ことができる(ただし、行と列の両方を指定する。)
dataframe.loc['r2', 'c2']

20

In [21]:
# 全ての列を指定する様なケース、:を指定する
dataframe.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [22]:
# 全ての行を指定する様なケース、:を指定する
dataframe.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [23]:
#  行ラベルをリストで指定、列ラベルをスライスで指定したsample
dataframe.loc[ ['r1', 'r3'], 'c2':'c3' ]

    c2   c3
r1  10  100
r3  30  300

In [24]:
# dataframeに対して比較演算を行うと、真偽値になる
dataframe > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [25]:
# dataframeから'c2'のように単一で列を取り出すとSeriesとなるが、Seriesに対する比較演算も同じようにできる
dataframe['c2'] > 10

r1    False
r2     True
r3     True
Name: c2, dtype: bool

In [26]:
# ↑のSeriesを真偽値化したものを利用して、c2列の値が10より大きいデータを取得できる
dataframe.loc[ dataframe['c2'] > 10 ]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [27]:
# 複合条件を作ることもできる
(dataframe['c1'] < 3) & (dataframe['c3'] < 300)

r1     True
r2     True
r3    False
dtype: bool

In [28]:
# ↑複合条件を利用して、c1列が3より小さく、c3列が300より小さいものを取得できる
dataframe.loc[ (dataframe['c1'] < 3) & (dataframe['c3'] < 300) ]

    c1  c2   c3
r1   1  10  100
r2   2  20  200

In [29]:
# whereメソッドでデータを抽出することもできる(条件にマッチしない行はNaNになる)
dataframe.where(dataframe['c3'] >= 200).head()

     c1    c2     c3
r1  NaN   NaN    NaN
r2  2.0  20.0  200.0
r3  3.0  30.0  300.0

In [30]:
# 欠損値を取り出すのにisnull()が便利
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2:3, 'episodes'] = np.nan # 欠損のあるデータを作成

tmp_anime.loc[tmp_anime['episodes'].isnull()].head()

,anime_id,name,genre,type,episodes,rating,members
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,NaN,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,NaN,9.17,673572

In [31]:
# dropna()を使うと、欠損値があるデータを除外することができる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2:3, 'episodes'] = np.nan # 欠損のあるデータを作成

tmp_anime.dropna().head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10.0,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148.0,9.13,425855

In [32]:
# 値を代入することもできる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[2, 'episodes'] = np.nan
tmp_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,NaN,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266

In [33]:
# 値を、一括で代入することもできる
tmp_anime = pd.read_csv(anime_master_csv)
tmp_anime.loc[tmp_anime['episodes'] == 24, 'episodes'] = np.nan
tmp_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,NaN,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266

### さまざまなデータの読み込み
- pandasは、csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- csvなどを読み込むと、DataFrameとして読み込む
- 読み込み時にDataFrameのインデックスをどれにするか指定することができる
- 指定した列を指定した型で読み込むことができる

以下、データの読み込み例

In [34]:
# csvからデータを取得する
anime_master_dataframe = pd.read_csv(anime_master_csv)
anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [35]:
# インデックスにする列を番号で指定することができる
anime_master_dataframe = pd.read_csv(anime_master_csv, index_col=0)
anime_master_dataframe.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [36]:
# インデックスにする列を列名で指定することもできる
anime_master_dataframe = pd.read_csv(anime_master_csv, index_col='anime_id')
anime_master_dataframe.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [37]:
# 指定した列を指定した型で読み込むことができる
anime_master_dataframe = pd.read_csv(anime_master_csv, dtype={'members': float})
anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [38]:
# datetime型への変換は、dtypeではなく、parse_datesで指定する
anime_stock_price_dataframe = pd.read_csv(anime_stock_price_csv, parse_dates=['Date'])
anime_stock_price_dataframe.dtypes

Date              datetime64[ns]
TOEI ANIMATION           float64
IG Port                  float64
dtype: object

In [39]:
# separatorを指定することでtsvを読み込むことが可能
anime_tsv = '../sample_data/anime.tsv'

tmp_anime_master_dataframe = pd.read_csv(anime_tsv, sep="\t")
tmp_anime_master_dataframe.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama\t Romance\t School\t Supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,Action\t Adventure\t Drama\t Fantasy\t Magic\t...,TV,64,9.26,793665
2,28977,Gintama°,Action\t Comedy\t Historical\t Parody\t Samura...,TV,51,9.25,114262
3,9253,Steins;Gate,Sci-Fi\t Thriller,TV,24,9.17,673572
4,9969,Gintama&#039;,Action\t Comedy\t Historical\t Parody\t Samura...,TV,51,9.16,151266

In [40]:
# sort_valuesを利用することでsortがすることが可能
# ascending=Falseで降順
anime_master_dataframe.sort_values('rating', ascending=False).head()

,anime_id,name,genre,type,episodes,rating,members
9659,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13.0
8836,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62.0
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
8354,33607,Kahei no Umi,Historical,Movie,1,9.33,44.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0

In [41]:
# sort_valuesを利用することでsortがすることが可能
# ascending=Trueで昇順(Default)
anime_master_dataframe.sort_values('rating', ascending=True).head()

,anime_id,name,genre,type,episodes,rating,members
9204,34476,Platonic Chain: Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51.0
7399,3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.00,7680.0
7398,13405,Utsu Musume Sayuri,"Comedy, Dementia",OVA,1,2.14,4047.0
7397,413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.37,27557.0
9297,14781,Roboteuwang Sseonsyakeu,"Action, Mecha, Sci-Fi",Movie,1,2.49,121.0

In [42]:
# mapを使うことでSeriesごとに関数を適用することができる
# 下記は、 ratingにnumpyのsquareを適用した場合
anime_master_dataframe['rating'].map(np.square).head()

0    87.7969
1    85.7476
2    85.5625
3    84.0889
4    83.9056
Name: rating, dtype: float64

In [43]:
# mapを使うことでSeriesごとに関数を適用することができる
# name自身のupperを適用するような場合はlambdaが便利
anime_master_dataframe['name'].map(lambda name: name.upper()).head()

0                      KIMI NO NA WA.
1    FULLMETAL ALCHEMIST: BROTHERHOOD
2                            GINTAMA°
3                         STEINS;GATE
4                            GINTAMA'
Name: name, dtype: object

In [44]:
# applyを使うことでDataframeの各列に対して関数を適用することができる
anime_master_dataframe.apply(len)

anime_id    10075
name        10075
genre       10075
type        10075
episodes    10075
rating      10075
members     10075
dtype: int64

In [45]:
# axisに1を指定することでDataframeの行に対して関数を適用することができる
anime_master_dataframe.apply(type, axis=1).head()

0    <class 'pandas.core.series.Series'>
1    <class 'pandas.core.series.Series'>
2    <class 'pandas.core.series.Series'>
3    <class 'pandas.core.series.Series'>
4    <class 'pandas.core.series.Series'>
dtype: object

In [46]:
# axisに1を指定することでDataframeの行に対して関数を適用することができる
# 渡した関数が呼び出される引数は、Seriesになるので、Seriresを使った処理もできる。
anime_master_dataframe.apply(lambda r: r['genre'].upper() + r['name'].lower(), axis=1).head()

0    DRAMA, ROMANCE, SCHOOL, SUPERNATURALkimi no na...
1    ACTION, ADVENTURE, DRAMA, FANTASY, MAGIC, MILI...
2    ACTION, COMEDY, HISTORICAL, PARODY, SAMURAI, S...
3                          SCI-FI, THRILLERsteins;gate
4    ACTION, COMEDY, HISTORICAL, PARODY, SAMURAI, S...
dtype: object

In [47]:
# applymapを使うと、DataFrameの各値に対して関数を適用することができる
anime_master_dataframe[['name','genre']].applymap(len).head()

   name  genre
0    14     36
1    32     59
2     8     60
3    11     16
4     8     60

In [48]:
anime_master_dataframe.apply(lambda r: r['type'].upper(), axis=1).head()

0    MOVIE
1       TV
2       TV
3       TV
4       TV
dtype: object

### Dataframe・Seriesには、たくさんの統計的メソッドが用意されている

例：

|  # | メソッド | 説明 |
| -- | -------- | ---- |
| 1  | count()  | 欠損を除外したデータ数     |
| 2  | sum      | 合計値 |
| 3  | mean     | 平均値 |
| 4  | median   | 中央値 |
| 5  | min      | 最小値 |
| 6  | max      | 最大値 |
| 7  | std      | 標準偏差 |
| 8  | var      | 分散 |
| 9  | skew     | 歪度(3次のモーメント) |
| 10 | kurt     | 尖度(4次のモーメント) |
| 11 | quantile | 分位数(パーセンタイル値) |
| 12 | cov      | 共分散 |
| 13 | corr     | 相関 |

describe()を呼び出すことで、基本統計量を算出することができる。

In [49]:
# DataFrameには、mean()を始めとして様々な統計的メソッドが用意されている
anime_master_dataframe.mean()

anime_id    14055.982035
episodes       13.939156
rating          6.507956
members     18924.950769
dtype: float64

In [50]:
# Seriesにも同様に、様々な統計的メソッドが用意されている
members = anime_master_dataframe['members']
members.sum()

190668879.0

In [51]:
members.mean()

18924.95076923077

In [52]:
members.min()

12.0

In [53]:
members.max()

1013917.0

In [54]:
members.std()

57117.51313952958

In [55]:
members.skew()

6.5882896582071631

In [56]:
members.kurt()

60.726648079672032

In [57]:
members.quantile()

1227.0

In [58]:
members.cov(anime_master_dataframe['rating'])

23535.092927966893

In [59]:
members.corr(anime_master_dataframe['rating'])

0.38974688712399902

In [60]:
# describe()を呼び出すことで基本的な統計量を算出できる
# 下記 lambda部分は、見やすくするために小数点以下四捨五入している
# describe()を単純に呼び出した場合は、自動的に数値型の列が対象となる
anime_master_dataframe.describe().apply(lambda x: x.round(1))

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
25%      3431.0       1.0      5.9      177.0
50%     10526.0       1.0      6.6     1227.0
75%     24438.0      13.0      7.3    10254.0
max     34519.0    1818.0     10.0  1013917.0

In [61]:
# describe()の引数でパーセンタイルを変更することもできる
anime_master_dataframe.describe(percentiles=[0.1,0.9]).apply(lambda x: x.round(1))

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
10%      1259.4       1.0      5.1       74.0
50%     10526.0       1.0      6.6     1227.0
90%     31190.0      37.0      7.8    47587.6
max     34519.0    1818.0     10.0  1013917.0

In [62]:
# 数値の存在しないdataframeの場合は、count,unique,top,freqが基本統計量となる
anime_master_dataframe[['type','genre']].describe()

         type   genre
count   10075   10075
unique      6    2735
top        TV  Comedy
freq     3330     500

### クロス集計を行う

In [63]:
# groupby()を呼び出すことでデータを集約することができる
grouped = anime_master_dataframe.groupby('type')
type(grouped)

pandas.core.groupby.DataFrameGroupBy

In [69]:
# 集約したデータの平均値を出してみる
grouped.mean().apply(lambda x: x.round(1))

         anime_id  episodes  rating  members
type
Movie     14322.5       1.1     6.3  10654.0
Music     22495.1       1.1     5.6   1273.0
ONA       22738.0       6.8     5.6   4401.8
OVA       12207.7       2.5     6.5   6849.5
Special   16802.3       2.5     6.5   7424.6
TV        10929.6      37.5     6.9  41832.3

In [71]:
# 主役したデータの基本統計量を出してみる
grouped.describe().apply(lambda x: x.round(1))

               anime_id  episodes    members  rating
type
Movie   count    2220.0    2220.0     2220.0  2220.0
        mean    14322.5       1.1    10654.0     6.3
        std     10925.7       2.2    31603.6     1.2
        min         5.0       1.0       13.0     2.5
        25%      4396.8       1.0      119.0     5.4
        50%     10677.5       1.0      489.5     6.5
        75%     24071.5       1.0     4239.0     7.3
        max     34201.0     100.0   466254.0    10.0
Music   count     485.0     485.0      485.0   485.0
        mean    22495.1       1.1     1273.0     5.6
        std     10175.0       1.3     4489.0     1.0
        min       731.0       1.0       24.0     3.3
        25%     12101.0       1.0       97.0     5.0
        50%     24903.0       1.0      226.0     5.6
        75%     31925.0       1.0      797.0     6.2
        max     34412.0      24.0    71136.0     8.4
ONA     count     591.0     591.0      591.0   591.0
        mean    22738.0       6.8     4401.8     5.6
        std     10346.0      11.5    12994.9     1.1
        min       574.0       1.0       25.0     2.7
        25%     13467.0       1.0      108.5     4.9
        50%     25241.0       2.0      336.0     5.7
        75%     32287.5       8.0     1890.5     6.4
        max     34514.0      84.0   144898.0     8.3
OVA     count    1932.0    1932.0     1932.0  1932.0
        mean    12207.7       2.5     6849.5     6.5
        std     10718.7       3.9    17479.7     0.9
        min        44.0       1.0       17.0     2.0
        25%      2297.2       1.0      122.0     5.9
        50%      8965.5       1.0     1027.0     6.5
        75%     22459.5       3.0     5706.0     7.1
        max     34349.0     110.0   305165.0     9.2
Special count    1517.0    1517.0     1517.0  1517.0
        mean    16802.3       2.5     7424.6     6.5
        std     10838.8       3.8    15666.1     0.9
        min       191.0       1.0       24.0     1.7
        25%      6877.0       1.0      298.0     6.1
        50%     15815.0       1.0     1906.0     6.6
        75%     27821.0       2.0     6978.0     7.1
        max     34519.0      51.0   160423.0     8.7
TV      count    3330.0    3330.0     3330.0  3330.0
        mean    10929.6      37.5    41832.3     6.9
        std     10645.4      83.3    89925.6     0.8
        min         1.0       3.0       12.0     3.0
        25%      2112.2      13.0      443.0     6.5
        50%      6511.5      25.0     5617.0     7.0
        75%     18938.5      43.0    41568.2     7.5
        max     34503.0    1818.0  1013917.0     9.3

In [73]:
# 複数の要素でグルーピングすることも可能
anime_master_dataframe.groupby(['type','genre']).mean().round(1)

                                                          anime_id  episodes  \
type  genre
Movie Action                                                8497.9       1.0
      Action, Adventure                                    10996.8       1.0
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen       378.0       1.0
      Action, Adventure, Cars, Sci-Fi                       6162.0       1.0
      Action, Adventure, Comedy                            23679.5       1.0
      Action, Adventure, Comedy, Demons, Fantasy, Mar...     903.0       1.0
      Action, Adventure, Comedy, Drama                     30115.3       1.0
      Action, Adventure, Comedy, Drama, Fantasy, Kids       4668.4       1.0
      Action, Adventure, Comedy, Drama, Fantasy, Magi...    9135.0       1.0
      Action, Adventure, Comedy, Drama, Fantasy, Shounen   16168.0       1.0
      Action, Adventure, Comedy, Drama, Historical, M...     416.0       1.0
      Action, Adventure, Comedy, Drama, Mecha, Music,...    1400.0       1.0
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...    1626.0       1.0
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi     1922.5       1.0
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen     2408.0       1.0
      Action, Adventure, Comedy, Drama, Seinen             23293.0       1.0
      Action, Adventure, Comedy, Fantasy, Kids             16680.0       1.0
      Action, Adventure, Comedy, Fantasy, Kids, Parod...    8490.0       1.0
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi      1122.0       1.0
      Action, Adventure, Comedy, Fantasy, Magic, Shounen   12049.0       1.0
      Action, Adventure, Comedy, Fantasy, Martial Art...   13146.5       1.0
      Action, Adventure, Comedy, Fantasy, Parody           33195.0       1.0
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...     892.0       1.0
      Action, Adventure, Comedy, Fantasy, Shounen           6769.5       1.0
      Action, Adventure, Comedy, Fantasy, Shounen, Su...     950.7       1.0
      Action, Adventure, Comedy, Historical, Martial ...    2851.0       1.0
      Action, Adventure, Comedy, Martial Arts, Shoune...    1010.0       1.0
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...     212.0       1.0
      Action, Adventure, Comedy, Mystery, Shounen           1435.0       1.0
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports    1670.0       1.0
...                                                            ...       ...
TV    Romance, Slice of Life                               19387.5      87.0
      Romance, Slice of Life, Supernatural                 23079.0      13.0
      Romance, Sports                                      11919.0      52.0
      School                                               17845.0      31.0
      School, Sci-Fi                                       30383.0      13.0
      School, Seinen, Sports                               31588.0      25.0
      School, Shoujo, Shoujo Ai, Slice of Life              3750.0      13.0
      School, Shounen, Sports                              16338.5      31.5
      School, Slice of Life                                24855.0      12.0
      School, Slice of Life, Supernatural                  12119.0      12.0
      School, Sports                                       32483.0      12.0
      Sci-Fi                                                8137.4      70.0
      Sci-Fi, Shounen                                       3751.7      47.0
      Sci-Fi, Shounen, Sports                               2758.0      52.0
      Sci-Fi, Slice of Life                                  868.5      18.5
      Sci-Fi, Space                                        12836.7      27.7
      Sci-Fi, Sports                                        3433.0      32.0
      Sci-Fi, Thriller                                      9253.0      24.0
      Seinen, Slice of Life                                31107.0      12.0
      Seinen, Slice of Life, Supernatural                  18411.0      12.0
      Seinen, Sports                                       22831.0      23.0
      Shoujo                                               30705.0      12.0
      Shoujo, Slice of Life                                 5240.5      30.0
      Shounen                                              19851.0      35.0
      Shounen, Sports                                       5108.9      34.3
      Shounen, Sports, Super Power                         11774.0      67.0
      Shounen, Supernatural                                16005.0      12.0
      Slice of Life                                        19671.9      33.6
      Sports                                               15219.6      28.9
      Supernatural                                          5525.5      38.5

                                                          rating   members
type  genre
Movie Action                                                 5.4    1345.3
      Action, Adventure                                      5.5   23117.8
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen       6.8    2791.0
      Action, Adventure, Cars, Sci-Fi                        6.9    8474.0
      Action, Adventure, Comedy                              5.9    3535.0
      Action, Adventure, Comedy, Demons, Fantasy, Mar...     7.1   54947.0
      Action, Adventure, Comedy, Drama                       7.9   36649.0
      Action, Adventure, Comedy, Drama, Fantasy, Kids        7.2   51149.2
      Action, Adventure, Comedy, Drama, Fantasy, Magi...     7.5   87944.0
      Action, Adventure, Comedy, Drama, Fantasy, Shounen     8.4   59904.3
      Action, Adventure, Comedy, Drama, Historical, M...     8.0   74028.0
      Action, Adventure, Comedy, Drama, Mecha, Music,...     7.0    5270.0
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...     5.1    2055.0
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi      7.4    3409.8
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen      7.5    2941.0
      Action, Adventure, Comedy, Drama, Seinen               7.9    5939.0
      Action, Adventure, Comedy, Fantasy, Kids               6.6   12517.0
      Action, Adventure, Comedy, Fantasy, Kids, Parod...     6.1    4882.0
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi       7.1   45203.0
      Action, Adventure, Comedy, Fantasy, Magic, Shounen     7.7   77560.0
      Action, Adventure, Comedy, Fantasy, Martial Art...     6.9   45500.0
      Action, Adventure, Comedy, Fantasy, Parody             7.1     110.0
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...     7.2   26346.0
      Action, Adventure, Comedy, Fantasy, Shounen            7.2   37563.0
      Action, Adventure, Comedy, Fantasy, Shounen, Su...     7.4   36594.0
      Action, Adventure, Comedy, Historical, Martial ...     6.2     887.0
      Action, Adventure, Comedy, Martial Arts, Shoune...     7.5    9597.0
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...     7.0    7846.0
      Action, Adventure, Comedy, Mystery, Shounen            7.1    4969.0
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports     6.7    5334.0
...                                                          ...       ...
TV    Romance, Slice of Life                                 7.3    4674.5
      Romance, Slice of Life, Supernatural                   5.5   94108.0
      Romance, Sports                                        6.2     340.0
      School                                                 6.5   30422.5
      School, Sci-Fi                                         7.2   55977.0
      School, Seinen, Sports                                 7.2   35461.0
      School, Shoujo, Shoujo Ai, Slice of Life               8.0   11779.0
      School, Shounen, Sports                                7.3   28629.5
      School, Slice of Life                                  6.0   24338.0
      School, Slice of Life, Supernatural                    7.1   26883.0
      School, Sports                                         7.0   29219.0
      Sci-Fi                                                 5.9    1534.2
      Sci-Fi, Shounen                                        6.6    3447.3
      Sci-Fi, Shounen, Sports                                7.2     432.0
      Sci-Fi, Slice of Life                                  6.6    3975.5
      Sci-Fi, Space                                          6.6   16187.3
      Sci-Fi, Sports                                         6.6     295.0
      Sci-Fi, Thriller                                       9.2  673572.0
      Seinen, Slice of Life                                  6.3    9778.0
      Seinen, Slice of Life, Supernatural                    7.2   33429.0
      Seinen, Sports                                         6.2    5568.0
      Shoujo                                                 4.9   19386.0
      Shoujo, Slice of Life                                  7.4   10958.0
      Shounen                                                7.0     650.0
      Shounen, Sports                                        7.1    7802.7
      Shounen, Sports, Super Power                           7.4   20588.5
      Shounen, Supernatural                                  7.7   61919.0
      Slice of Life                                          6.1    3468.1
      Sports                                                 6.6    6189.8
      Supernatural                                           6.0     202.5

[4256 rows x 4 columns]

In [74]:
# groupby()と同様の処理をpivot_table()を利用して算出することも可能
anime_master_dataframe.pivot_table(index='type', aggfunc=np.mean)

             anime_id   episodes       members    rating
type
Movie    14322.477928   1.100901  10654.022072  6.328599
Music    22495.111340   1.125773   1273.028866  5.583918
ONA      22738.000000   6.778342   4401.822335  5.629628
OVA      12207.692547   2.549689   6849.526398  6.475217
Special  16802.341463   2.495715   7424.628873  6.525577
TV       10929.554655  37.456156  41832.314414  6.928961

In [75]:
# groupby()と同様の処理をpivot_table()を利用して算出することも可能
anime_master_dataframe.pivot_table(index=['type','genre'], aggfunc=np.mean)

                                                              anime_id  \
type  genre
Movie Action                                               8497.944444
      Action, Adventure                                   10996.750000
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen      378.000000
      Action, Adventure, Cars, Sci-Fi                      6162.000000
      Action, Adventure, Comedy                           23679.500000
      Action, Adventure, Comedy, Demons, Fantasy, Mar...    903.000000
      Action, Adventure, Comedy, Drama                    30115.333333
      Action, Adventure, Comedy, Drama, Fantasy, Kids      4668.400000
      Action, Adventure, Comedy, Drama, Fantasy, Magi...   9135.000000
      Action, Adventure, Comedy, Drama, Fantasy, Shounen  16168.000000
      Action, Adventure, Comedy, Drama, Historical, M...    416.000000
      Action, Adventure, Comedy, Drama, Mecha, Music,...   1400.000000
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...   1626.000000
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi    1922.500000
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen    2408.000000
      Action, Adventure, Comedy, Drama, Seinen            23293.000000
      Action, Adventure, Comedy, Fantasy, Kids            16680.000000
      Action, Adventure, Comedy, Fantasy, Kids, Parod...   8490.000000
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi     1122.000000
      Action, Adventure, Comedy, Fantasy, Magic, Shounen  12049.000000
      Action, Adventure, Comedy, Fantasy, Martial Art...  13146.500000
      Action, Adventure, Comedy, Fantasy, Parody          33195.000000
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...    892.000000
      Action, Adventure, Comedy, Fantasy, Shounen          6769.500000
      Action, Adventure, Comedy, Fantasy, Shounen, Su...    950.714286
      Action, Adventure, Comedy, Historical, Martial ...   2851.000000
      Action, Adventure, Comedy, Martial Arts, Shoune...   1010.000000
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...    212.000000
      Action, Adventure, Comedy, Mystery, Shounen          1435.000000
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports   1670.000000
...                                                                ...
TV    Romance, Slice of Life                              19387.500000
      Romance, Slice of Life, Supernatural                23079.000000
      Romance, Sports                                     11919.000000
      School                                              17845.000000
      School, Sci-Fi                                      30383.000000
      School, Seinen, Sports                              31588.000000
      School, Shoujo, Shoujo Ai, Slice of Life             3750.000000
      School, Shounen, Sports                             16338.500000
      School, Slice of Life                               24855.000000
      School, Slice of Life, Supernatural                 12119.000000
      School, Sports                                      32483.000000
      Sci-Fi                                               8137.400000
      Sci-Fi, Shounen                                      3751.666667
      Sci-Fi, Shounen, Sports                              2758.000000
      Sci-Fi, Slice of Life                                 868.500000
      Sci-Fi, Space                                       12836.666667
      Sci-Fi, Sports                                       3433.000000
      Sci-Fi, Thriller                                     9253.000000
      Seinen, Slice of Life                               31107.000000
      Seinen, Slice of Life, Supernatural                 18411.000000
      Seinen, Sports                                      22831.000000
      Shoujo                                              30705.000000
      Shoujo, Slice of Life                                5240.500000
      Shounen                                             19851.000000
      Shounen, Sports                                      5108.900000
      Shounen, Sports, Super Power                        11774.000000
      Shounen, Supernatural                               16005.000000
      Slice of Life                                       19671.923077
      Sports                                              15219.625000
      Supernatural                                         5525.500000

                                                           episodes  \
type  genre
Movie Action                                               1.000000
      Action, Adventure                                    1.000000
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen     1.000000
      Action, Adventure, Cars, Sci-Fi                      1.000000
      Action, Adventure, Comedy                            1.000000
      Action, Adventure, Comedy, Demons, Fantasy, Mar...   1.000000
      Action, Adventure, Comedy, Drama                     1.000000
      Action, Adventure, Comedy, Drama, Fantasy, Kids      1.000000
      Action, Adventure, Comedy, Drama, Fantasy, Magi...   1.000000
      Action, Adventure, Comedy, Drama, Fantasy, Shounen   1.000000
      Action, Adventure, Comedy, Drama, Historical, M...   1.000000
      Action, Adventure, Comedy, Drama, Mecha, Music,...   1.000000
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...   1.000000
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi    1.000000
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen    1.000000
      Action, Adventure, Comedy, Drama, Seinen             1.000000
      Action, Adventure, Comedy, Fantasy, Kids             1.000000
      Action, Adventure, Comedy, Fantasy, Kids, Parod...   1.000000
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi     1.000000
      Action, Adventure, Comedy, Fantasy, Magic, Shounen   1.000000
      Action, Adventure, Comedy, Fantasy, Martial Art...   1.000000
      Action, Adventure, Comedy, Fantasy, Parody           1.000000
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...   1.000000
      Action, Adventure, Comedy, Fantasy, Shounen          1.000000
      Action, Adventure, Comedy, Fantasy, Shounen, Su...   1.000000
      Action, Adventure, Comedy, Historical, Martial ...   1.000000
      Action, Adventure, Comedy, Martial Arts, Shoune...   1.000000
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...   1.000000
      Action, Adventure, Comedy, Mystery, Shounen          1.000000
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports   1.000000
...                                                             ...
TV    Romance, Slice of Life                              87.000000
      Romance, Slice of Life, Supernatural                13.000000
      Romance, Sports                                     52.000000
      School                                              31.000000
      School, Sci-Fi                                      13.000000
      School, Seinen, Sports                              25.000000
      School, Shoujo, Shoujo Ai, Slice of Life            13.000000
      School, Shounen, Sports                             31.500000
      School, Slice of Life                               12.000000
      School, Slice of Life, Supernatural                 12.000000
      School, Sports                                      12.000000
      Sci-Fi                                              70.000000
      Sci-Fi, Shounen                                     47.000000
      Sci-Fi, Shounen, Sports                             52.000000
      Sci-Fi, Slice of Life                               18.500000
      Sci-Fi, Space                                       27.666667
      Sci-Fi, Sports                                      32.000000
      Sci-Fi, Thriller                                    24.000000
      Seinen, Slice of Life                               12.000000
      Seinen, Slice of Life, Supernatural                 12.000000
      Seinen, Sports                                      23.000000
      Shoujo                                              12.000000
      Shoujo, Slice of Life                               30.000000
      Shounen                                             35.000000
      Shounen, Sports                                     34.300000
      Shounen, Sports, Super Power                        67.000000
      Shounen, Supernatural                               12.000000
      Slice of Life                                       33.615385
      Sports                                              28.875000
      Supernatural                                        38.500000

                                                                members  \
type  genre
Movie Action                                                1345.333333
      Action, Adventure                                    23117.750000
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen      2791.000000
      Action, Adventure, Cars, Sci-Fi                       8474.000000
      Action, Adventure, Comedy                             3535.000000
      Action, Adventure, Comedy, Demons, Fantasy, Mar...   54947.000000
      Action, Adventure, Comedy, Drama                     36649.000000
      Action, Adventure, Comedy, Drama, Fantasy, Kids      51149.200000
      Action, Adventure, Comedy, Drama, Fantasy, Magi...   87944.000000
      Action, Adventure, Comedy, Drama, Fantasy, Shounen   59904.333333
      Action, Adventure, Comedy, Drama, Historical, M...   74028.000000
      Action, Adventure, Comedy, Drama, Mecha, Music,...    5270.000000
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...    2055.000000
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi     3409.833333
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen     2941.000000
      Action, Adventure, Comedy, Drama, Seinen              5939.000000
      Action, Adventure, Comedy, Fantasy, Kids             12517.000000
      Action, Adventure, Comedy, Fantasy, Kids, Parod...    4882.000000
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi     45203.000000
      Action, Adventure, Comedy, Fantasy, Magic, Shounen   77560.000000
      Action, Adventure, Comedy, Fantasy, Martial Art...   45500.000000
      Action, Adventure, Comedy, Fantasy, Parody             110.000000
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...   26346.000000
      Action, Adventure, Comedy, Fantasy, Shounen          37563.000000
      Action, Adventure, Comedy, Fantasy, Shounen, Su...   36594.000000
      Action, Adventure, Comedy, Historical, Martial ...     887.000000
      Action, Adventure, Comedy, Martial Arts, Shoune...    9597.000000
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...    7846.000000
      Action, Adventure, Comedy, Mystery, Shounen           4969.000000
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports    5334.000000
...                                                                 ...
TV    Romance, Slice of Life                                4674.500000
      Romance, Slice of Life, Supernatural                 94108.000000
      Romance, Sports                                        340.000000
      School                                               30422.500000
      School, Sci-Fi                                       55977.000000
      School, Seinen, Sports                               35461.000000
      School, Shoujo, Shoujo Ai, Slice of Life             11779.000000
      School, Shounen, Sports                              28629.500000
      School, Slice of Life                                24338.000000
      School, Slice of Life, Supernatural                  26883.000000
      School, Sports                                       29219.000000
      Sci-Fi                                                1534.200000
      Sci-Fi, Shounen                                       3447.333333
      Sci-Fi, Shounen, Sports                                432.000000
      Sci-Fi, Slice of Life                                 3975.500000
      Sci-Fi, Space                                        16187.333333
      Sci-Fi, Sports                                         295.000000
      Sci-Fi, Thriller                                    673572.000000
      Seinen, Slice of Life                                 9778.000000
      Seinen, Slice of Life, Supernatural                  33429.000000
      Seinen, Sports                                        5568.000000
      Shoujo                                               19386.000000
      Shoujo, Slice of Life                                10958.000000
      Shounen                                                650.000000
      Shounen, Sports                                       7802.700000
      Shounen, Sports, Super Power                         20588.500000
      Shounen, Supernatural                                61919.000000
      Slice of Life                                         3468.076923
      Sports                                                6189.750000
      Supernatural                                           202.500000

                                                            rating
type  genre
Movie Action                                              5.389444
      Action, Adventure                                   5.537500
      Action, Adventure, Cars, Comedy, Sci-Fi, Shounen    6.850000
      Action, Adventure, Cars, Sci-Fi                     6.860000
      Action, Adventure, Comedy                           5.937500
      Action, Adventure, Comedy, Demons, Fantasy, Mar...  7.110000
      Action, Adventure, Comedy, Drama                    7.853333
      Action, Adventure, Comedy, Drama, Fantasy, Kids     7.196000
      Action, Adventure, Comedy, Drama, Fantasy, Magi...  7.500000
      Action, Adventure, Comedy, Drama, Fantasy, Shounen  8.376667
      Action, Adventure, Comedy, Drama, Historical, M...  8.030000
      Action, Adventure, Comedy, Drama, Mecha, Music,...  7.050000
      Action, Adventure, Comedy, Drama, Mecha, Sci-Fi...  5.100000
      Action, Adventure, Comedy, Drama, Romance, Sci-Fi   7.358333
      Action, Adventure, Comedy, Drama, Sci-Fi, Shounen   7.480000
      Action, Adventure, Comedy, Drama, Seinen            7.910000
      Action, Adventure, Comedy, Fantasy, Kids            6.650000
      Action, Adventure, Comedy, Fantasy, Kids, Parod...  6.120000
      Action, Adventure, Comedy, Fantasy, Kids, Sci-Fi    7.100000
      Action, Adventure, Comedy, Fantasy, Magic, Shounen  7.700000
      Action, Adventure, Comedy, Fantasy, Martial Art...  6.915000
      Action, Adventure, Comedy, Fantasy, Parody          7.070000
      Action, Adventure, Comedy, Fantasy, Sci-Fi, Sho...  7.150000
      Action, Adventure, Comedy, Fantasy, Shounen         7.202500
      Action, Adventure, Comedy, Fantasy, Shounen, Su...  7.380000
      Action, Adventure, Comedy, Historical, Martial ...  6.220000
      Action, Adventure, Comedy, Martial Arts, Shoune...  7.500000
      Action, Adventure, Comedy, Mecha, Sci-Fi, Super...  7.020000
      Action, Adventure, Comedy, Mystery, Shounen         7.090000
      Action, Adventure, Comedy, Sci-Fi, Shounen, Sports  6.710000
...                                                            ...
TV    Romance, Slice of Life                              7.280000
      Romance, Slice of Life, Supernatural                5.540000
      Romance, Sports                                     6.200000
      School                                              6.520000
      School, Sci-Fi                                      7.160000
      School, Seinen, Sports                              7.160000
      School, Shoujo, Shoujo Ai, Slice of Life            7.970000
      School, Shounen, Sports                             7.310000
      School, Slice of Life                               6.030000
      School, Slice of Life, Supernatural                 7.060000
      School, Sports                                      7.000000
      Sci-Fi                                              5.882000
      Sci-Fi, Shounen                                     6.583333
      Sci-Fi, Shounen, Sports                             7.150000
      Sci-Fi, Slice of Life                               6.580000
      Sci-Fi, Space                                       6.556667
      Sci-Fi, Sports                                      6.650000
      Sci-Fi, Thriller                                    9.170000
      Seinen, Slice of Life                               6.300000
      Seinen, Slice of Life, Supernatural                 7.230000
      Seinen, Sports                                      6.200000
      Shoujo                                              4.930000
      Shoujo, Slice of Life                               7.415000
      Shounen                                             7.035000
      Shounen, Sports                                     7.083000
      Shounen, Sports, Super Power                        7.400000
      Shounen, Supernatural                               7.690000
      Slice of Life                                       6.074615
      Sports                                              6.601875
      Supernatural                                        5.995000

[4256 rows x 4 columns]