In [2]:
import pandas as pd

anime_csv = './anime.csv'

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_master_csv = './anime_master.csv'

pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
anime_split_genre_csv = './anime_split_genre.csv'

pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [6]:
anime_genre_top10 = './anime_genre_top10.csv'

pd.read_csv(anime_genre_top10).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [7]:
anime_genre_top10_pivoted = './anime_genre_top10_pivoted.csv'

pd.read_csv(anime_genre_top10_pivoted).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0