In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import time
import pymysql

In [2]:
db_conn = pymysql.connect(
    host='localhost',
    user='jupyter_user',
    password='jupyter_pass',
    db='jupyter',
    port=13306,
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)

In [3]:
select_from_animes = '''
  SELECT
    *
  FROM
    animes
'''
pd.read_sql_query(select_from_animes, db_conn).head()

,anime_id,name,genre,type,episodes,rating,members
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
2,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
3,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
4,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848

In [4]:
select_from_anime_masters = '''
  SELECT
    *
  FROM
    anime_masters
'''

pd.read_sql_query(select_from_anime_masters, db_conn).head()

,anime_id,name,genre,type,episodes,rating,members
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
2,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
3,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
4,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848

In [5]:
select_from_anime_split_genres = '''
  SELECT
    *
  FROM
    anime_split_genres
'''

pd.read_sql_query(select_from_anime_split_genres, db_conn).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [6]:
select_from_anime_genre_top10s = '''
  SELECT
    *
  FROM
    anime_genre_top10s
'''

pd.read_sql_query(select_from_anime_genre_top10s, db_conn).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [7]:
select_from_anime_genre_top10_pivoteds = '''
  SELECT
    *
  FROM
    anime_genre_top10_pivoteds
'''

pd.read_sql_query(select_from_anime_genre_top10_pivoteds, db_conn).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [8]:
select_from_anime_stock_prices = '''
  SELECT
    *
  FROM
    anime_stock_prices
'''

pd.read_sql_query(select_from_anime_stock_prices, db_conn).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01         3356.86  1201.51
1  2015-01-02         3356.86  1201.51
2  2015-01-05         3396.12  1218.44
3  2015-01-06         3361.77  1201.51
4  2015-01-07         3297.97  1202.51

In [9]:
select_from_anime_stock_returns = '''
  SELECT
    *
  FROM
    anime_stock_returns
'''

pd.read_sql_query(select_from_anime_stock_returns, db_conn).head()

         Date  TOEI ANIMATION  IG Port
0  2015-01-01        1.000000  1.00000
1  2015-01-02        1.000000  1.00000
2  2015-01-05        1.011700  1.01408
3  2015-01-06        1.001460  1.00000
4  2015-01-07        0.982457  1.00082

## pandasとは
- ラベル付けされたデータを容易にかつ直感的に扱える用に設計されたパッケージ
- 2つの主要なデータ構造を提供する
  * Series(1次元のデータ)
  * DataFrame(2次元のデータ)
- csv,excel,database,htmlなど、様々なデータを読み込む機能を提供する
- 条件による絞込やDataFrame同士などのjoinといった機能を提供する

### Seriesとは
以下の特徴をもつ
- ラベル(index)を持つ1次元のデータ
- ラベル(index)は重複可能
- ラベル(index) or データを指定した抽出が可能
- ラベル(index)に対してのスライスが可能
- 算術演算可能。
- 統計量を算出するメソッドを持つ

### 以下Seriesの例

In [10]:
# Seriesの実体pandas.Seriesクラス
content = [1,2,3]
label = ['a', 'b', 'c']
series = pd.Series(content, index = label)
series

a    1
b    2
c    3
dtype: int64

In [11]:
# ラベル(index)を指定しない場合は連番がラベル(index)となる
series_no_index = pd.Series([2,4,6,8])
series_no_index

0    2
1    4
2    6
3    8
dtype: int64

In [12]:
# Series#locをつかって、ラベル(index)を指定して取り出すサンプル
series.loc['c']

3

In [13]:
# Series#[]を利用して取得することもできる
series['b']

2

In [14]:
# ラベルを範囲指定で取り出すサンプル
series.loc['b':'c']

b    2
c    3
dtype: int64

In [15]:
# リストを指定して取り出すサンプル
choose_targets= ['a', 'c']
series.loc[choose_targets]

a    1
c    3
dtype: int64

In [16]:
# 特定の位置のデータを取得する　sample
# locではなくilocを利用する
series.iloc[1]

2

In [17]:
# pythonのリストをやタプルと同じようにスライスもできる
series.iloc[1:3]

b    2
c    3
dtype: int64

In [18]:
#  条件を満たすものを抽出するsample(外側にseriesがいて、loc[]の条件をにもseriesがいるのでちょっと気持ち悪い...)
series.loc[ series >= 2]

b    2
c    3
dtype: int64

In [19]:
# まぁ、上記は初見だと気持ち悪いが、series >= 2 がbooleanのSeriesが返ってくるので
# それを使っていると考えると少し気持ち悪さが緩和される
series >= 2

a    False
b     True
c     True
dtype: bool