# 4.2 pandas

## 4.2.1 pandasの概要
- NumPyをベースにデータの入手や加工などのデータ処理をやるためのパッケージ
  - 超重要なデータ型として、以下のデータ型を提供する
    - シリーズ(Series)
    - データフレーム(DataFrame)

In [15]:
import pandas as pd
import numpy as np

### 4.2.1.1 Seriesとは
- 1次元のデータを表現する型

In [3]:
series = pd.Series([10, 20, 30, 40])
series

0    10
1    20
2    30
3    40
dtype: int64

### 4.2.1.2 DataFrameとは
- 2次元のデータを表現する型

In [12]:
df = pd.DataFrame([
    [10, 'a', True],
    [20, 'b', False],
    [30, 'c', False], 
    [40, 'd', True]
])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

### 4.2.1.3 DataFrameの概要を見る

In [18]:
# 余談。numpyのarangeで、連続値を簡単に生成できる
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
df = pd.DataFrame(np.arange(40).reshape(5,8)) # 0〜39までのシーケンス配列を生成して
df

    0   1   2   3   4   5   6   7
0   0   1   2   3   4   5   6   7
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23
3  24  25  26  27  28  29  30  31
4  32  33  34  35  36  37  38  39